<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>workShop_october</display-name>
  <servlet>
    <servlet-name>shohinList</servlet-name>
    <servlet-class>controller.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shohinList</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
</web-app>